@IMPORT url("common-header.css");
@IMPORT url("common-footer.css");

/* lg */

/*
.breadcrumb {
	margin-top: 15px;
	padding: 15px 0px;
	background-color: transparent;
}

hr {
	border-top: 1px solid #ddd !important;
}
*/

/* md */
@media screen and (max-width: 1199px) { }

/* sm */
@media screen and (max-width: 991px) { }

/* xs */
@media screen and (max-width: 767px) { }

/* xxs */
@media screen and (max-width: 500px) { }